<head>
  <meta *ngIf="!role.isJefe()" http-equiv='refresh' content='0; /#/not-found'>
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
  rel="stylesheet">

<body style="padding-top: 50px;">
  <div class="centerer">
    <!-- a partir de aquí, cada bloque de texto dentro de un div estará centrado y dirigido hacia abajo -->

    <div class="he-tag2">
        <div class="my-tag">
            <h1 class="Lora">Ayuda</h1>
          </div>
    </div>
    
    <div class="spacing-tag"></div>

    <div class="he-tag">
      <h3>¿Cuál es la diferencia entre la interfaz de postulante y de Director de carrera?</h3>
      <p>En general, sólo el Director de carrera puede abrir vacantes, a las cuales los postulantes
        presentarán sus solicitudes. El Director de carrera puede ver todas las postulaciones que haya
        recibido cada vacante abierta, revisar los datos del postulante y decidir si ascender la
        fase de dicha postulación o rechazarla.
      </p>
      <h3>¿Cómo creo una vacante?</h3>
      <p>En la pestaña de vacantes hay un botón para crear una nueva vacante, al darle clic, le
        redirigirá a un formulario para crear una vacante. Es necesario que rellene todos los datos
        del formulario.
      </p>
      <h3>¿Hay alguna política de privacidad?</h3>
      <p>Al generar una postulación, todo el que se postule tiene derecho a encontrar su nombre,
        teléfono y correo para contactarlo de forma rápida en caso de alguna consulta durante las
        fases de la postulación.
      </p>
      <h3>¿Qué obligaciones tengo como Director de carrera en la página?</h3>
      <p>Como Director de carrera, tiene la obligación de revisar todas las postulaciones durante
        la primera fase de la postulación, también debe informar a cada postulante con fase ascendida
        de las ubicaciones de las exposiciones y entrevistas, así como el horario que tendrá cuando
        el postulante haya sido aceptado.
      </p>
    </div>
  </div>
  <div class="footer-spacing-tag"></div>
  <app-footer></app-footer>
</body>