<head>
  <meta *ngIf="role.isJefe()" http-equiv='refresh' content='0; /#/not-found'>
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
  rel="stylesheet">

<body style="padding-top: 50px;">
  <div class="centerer">
    <!-- a partir de aquí, cada bloque de texto dentro de un div estará centrado y dirigido hacia abajo -->

    <div class="he-tag2">
        <div class="my-tag">
            <h1 class="Lora">Ayuda</h1>
          </div>
    </div>
    
    <div class="spacing-tag"></div>

    <div class="he-tag">
      <h3 style="width:100vh; ">¿Qué puedo hacer en esta página web?</h3>
      <p>En la página de postulación docente, un postulante puede revisar los puestos disponibles
        de trabajo que haya en la Universidad Católica Boliviana, sede Santa Cruz. Puede buscar
        vacantes que sean acordes a sus necesidades y presentar su postulación de forma automática.
        También puede revisar las postulaciones que ya haya enviado y el estado en el que se encuentran.
      </p>
      <h3>¿Cuál es la diferencia entre una postulación y una vacante?</h3>
      <p>Una vacante es el puesto de trabajo disponible que hay en la Universidad al momento de
        su inicio de sesión. Una postulación es una solicitud que usted como postulante envía a la
        Universidad para trabajar en la vacante que usted solicita.
      </p>
      <h3>¿Cómo puedo saber si mi solicitud fue revisada por el personal de la Universidad?</h3>
      <p>Las postulaciones son verificadas por los directores de carrera dependiendo de la materia a
        la que se está postulando. Puede pasar por la pestaña de Postulaciones para revisar en qué
        estado se encuentra su postulación o postulaciones.
      </p>
      <h3>¿Cómo es el proceso de selección? ¿Cómo sé si mi solicitud fue aceptada?</h3>
      <p style="width:100%">El proceso de avance en la inscripción de personal cruza 3 fases:<br>
        <li>Fase 1: Revisión de la postulación</li>
        <li>Fase 2: Exposición</li>
        <li>Fase 3: Entrevista final</li>
        Una vez completadas las 3 fases, su solicitud habrá sido aceptada.
      </p>
      <h3>¿Entonces debo realizar exposiciones o entrevistas en esta misma página?</h3>
      <p>Debido a limitantes en la página web y por protocolos de la Universidad, las fases de exposición
        y entrevista se deben realizar presencialmente en la Universidad, cualquier información acerca
        de la ubicación u horario se debe consultar con el Director de Carrera.
      </p>
      <h3>¿Cómo puedo contactar con el Director de carrera de la vacante a la que estoy postulando?</h3>
      <p>Tanto antes de postularse como durante el proceso de revisión, los datos de contacto del
        Director de carrera serán visibles para facilitar la comunicación. Recuerde hacer buen uso y no abusar
        del contacto.
      </p>
      <h3>¿De qué se trata la fase de exposición?</h3>
      <p>Durante la fase de entrevista, usted será citado a ingresar a la universidad para dar una
        exposición sobre sus conocimientos en el área del cual quiere ser parte. Conforme a su desempeño
        en la exposición, se le asignará internamente un puntaje, los postulantes con mayor puntaje
        podrán pasar a la siguiente fase de la inscripción.
      </p>
      <h3>¿Y en qué consiste la entrevista?</h3>
      <p>En la fase de entrevista, cada postulante será citado a una entrevista personal, donde se realizarán
        preguntas y tareas para ver más a fondo sus capacidades. Una vez todos se haya entrevistado
        a todos los postulantes, se elegirá únicamente a un candidato para cubrir el puesto de la vacante,
        finalizando así la postulación.
      </p>
      <h3>¿Si mi postulación fue rechazada, puedo volver a presentarme para dicha vacante?</h3>
      <p>No. Pero puede presentarse libremente a todas las demás vacantes que estén disponibles.
        Con el paso del tiempo, puede que la vacante que usted busca vuelva a habilitarse para postulación.
        ¡No se rinda!
      </p>
    </div>
  </div>
  <div class="footer-spacing-tag"></div>
  <app-footer></app-footer>
</body>