<div class="registerBackground">
    <div class="registro-container">
        <h2>Registro</h2>
        <form [formGroup]="registerForm">
            <!-- Botón para alternar entre campos generales y jefe de carrera -->
            <div class="form-group toggle-container">
                <button type="button" (click)="toggleJefeCarrera()" class="toggle-btn">
                    {{ isJefeCarrera ? 'Registrarse como Usuario General' : 'Registrarse como Jefe de Carrera' }}
                </button>
            </div>

            <!-- Campos generales -->
            <div *ngIf="!isJefeCarrera">
                <div class="form-group">
                    <label for="nombre">Nombre: <span class="required"></span></label>
                    <input type="text" id="nombre" formControlName="nombre" required>
                </div>

                <div class="form-group">
                    <label for="telefono">Teléfono: <span class="required"></span></label>
                    <input type="text" id="telefono" formControlName="telefono" required pattern="{6,}">
                </div>

                <div class="form-group">
                    <label for="ci">CI: <span class="required"></span></label>
                    <input type="text" id="ci" formControlName="ci" required pattern="[0-9a-zA-z]+">
                </div>

                <div class="form-group">
                    <label for="fechaNacimiento">Fecha de Nacimiento: <span class="required"></span></label>
                    <input type="date" id="fechaNacimiento" formControlName="fechaNacimiento" required>
                </div>

                <div class="form-group">
                    <label for="grado">Grado: <span class="required"></span></label>
                    <input type="text" id="grado" formControlName="grado" required>
                </div>

                <div class="form-group">
                    <label for="anosExperiencia">Años de Experiencia: <span class="required"></span></label>
                    <input type="number" id="anosExperiencia" formControlName="anosExperiencia" required>
                </div>

                <div class="form-group">
                    <label for="correo">Correo: <span class="required"></span></label>
                    <input type="email" id="correo" formControlName="correo" required>
                </div>

                <div class="form-group">
                    <label for="contrasena">Contraseña: <span class="required"></span></label>
                    <input type="password" id="contrasena" formControlName="contrasena" required pattern="{6,}">
                </div>

                <div class="form-group">
                    <label for="confirmarContrasena">Confirmar Contraseña: <span class="required"></span></label>
                    <input type="password" id="confirmarContrasena" formControlName="contrasenaRep" required pattern="{6,}">
                </div>

            </div>

            <!-- Campos específicos para Jefe de Carrera -->
            <div *ngIf="isJefeCarrera">
                <div class="form-group">
                    <label for="nombreJefe">Nombre Completo: <span class="required"></span></label>
                    <input type="text" id="nombreJefe" formControlName="nombre" required>
                </div>

                <div class="form-group">
                    <label for="correoJefe">Correo: <span class="required"></span></label>
                    <input type="email" id="correoJefe" formControlName="correo" required>
                </div>

                <div class="form-group">
                    <label for="contrasenaJefe">Contraseña: <span class="required"></span></label>
                    <input type="password" id="contrasenaJefe" formControlName="contrasena" required pattern="{6,}">
                </div>

                <div class="form-group">
                    <label for="confirmarContrasenaJefe">Confirmar Contraseña: <span class="required"></span></label>
                    <input type="password" id="confirmarContrasenaJefe" formControlName="contrasenaRep" required pattern="{6,}">
                </div>
                <fieldset class="career-selection">
                    <legend>Selecciona 1 a 3 carreras</legend>
                    <div class="career-option" *ngFor="let carrera of listaCarreras">
                        <input type="checkbox" [id]="carrera" [value]="carrera" (change)="onCarreraChange($event)"
                            [checked]="isCarreraSelected(carrera)" />
                        <label [for]="carrera">{{ carrera }}</label>
                    </div>
                </fieldset>
            </div>
            <!-- Botón de registro -->
            <button type="submit" [disabled]="!registerForm.valid" (click)="registrarUsuario()">Registrarse</button>
        </form>

        <p>¿Ya tienes una cuenta? <a [routerLink]="['/login']">Inicia sesión</a></p>
    </div>
</div>