<div class="loginBlock">
    <div class="loginFormStyle">
        <h1>Inicio de sesión</h1>
        <form action="" [formGroup]="loginForm">
            <div class="login">
                <p>Email</p>
                <input type="email" formControlName="email">
            </div>
            <div>
                <p>Contraseña</p>
                <input type="text" formControlName="password">
            </div>
            <div style="padding-top: 20px;"></div>
            <div>
                <button id="loginB" (click)="login()" class="loginButtonA">
                    Iniciar sesión
                </button>
            </div>
            <p>o</p>
            <div class="loginButton">
                <button id="loginB" (click)="login()" class="loginButtonA">
                    Iniciar sesión como Jefe de Carrera
                </button>
            </div>
        </form>
        <p>No tienes cuenta? <a [routerLink]="['/register']">Registrate</a></p>
    </div>
</div>