.loginWrapper {
    background-image: url("../../assets/images/Santa-Cruz-min.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position:absolute;
    display: grid;
    align-items: center;
    justify-content: center;
}

.loginFormStyle{
    align-items: stretch;
    align-self: center;
    background-color: #FFFFFFAA;
    border-radius: 20px;
    padding: 100px;
}

.loginButtonA {
    background-color: #2D5784;
    color: white;
    border-radius: 10px;
    border-color: #00000000;
    width:20vw;
    height: 4vh;
    transition-duration: 150ms;
}
.loginButtonA:hover {
    background-color: #00427A;
    transition-duration: 250ms;
}
.loginButtonA:active {
    background-color: #00274a;
    transition-duration: 50ms;
}

p {
    padding: 0;
    margin:0;
}

.buttons {
    justify-items: center;
}

input {
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    border-color: #00000088;
    background-color: #FFFFFFAA;
}
