<p>crear-vacante works!</p>

<form [formGroup]="vacanteForm" (ngSubmit)="submitForm()">
    <div class="field">
        <label class="label">Nombre de la Vacante</label>
        <input type="text" class="input" formControlName="nombreVacante">
    </div>

    <div class="field">
        <label class="label">Materia</label>
        <select formControlName="materia">
            <option *ngFor="let materia of materias" [ngValue]="materia.sigla">{{ materia.nombre }}</option>
        </select>
    </div>


    <div class="field">
        <label class="label">Descripcion de la vacante</label>
        <textarea class="input" formControlName="descripcionVacante"></textarea>
    </div>

    <div class="field">
        <label class="label">Fecha de inicio</label>
        <input type="date" class="input" formControlName="fechaInicio">
    </div>


    <div class="field">
        <label class="label">Fecha de finalizacion</label>
        <input type="date" formControlName="fechaFinalizacion">
    </div>


    <div>
        <button type="submit">
            Crear Vacante
        </button>
    </div>
</form>
