<header></header>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
  rel="stylesheet">

<body style="padding-top: 50px;">
  <div class="centerer">
    <div class="he-tag2">
        <div class="my-tag">
            <h1 class="Lora">Título: Materia</h1>
          </div>
    </div>

    <h2>Estado:</h2>
    <div class="state-wrapper">
        <div class="state-circle" style="background-color: white;">
            <p class="state-number">1</p>
        </div>
        <div class="state-circle" style="background-color: white;">
            <p class="state-number">2</p>
        </div>
        <div class="state-circle" style="background-color: white;">
            <p class="state-number">3</p>
        </div>
        <div class="state-circle" style="background-color: white;">
            <p class="state-number">4</p>
        </div>
    </div>
    <div class="state-line-wrapper">
        <p class="state-line">--------------------------------------------------</p>
    </div>
    <div class="spacing-tag"></div>

    <div class="he-tag">
      <h3>Información:</h3>
      <p>Dar un mensaje adecuado dependiendo del estado de la postulación.
      </p>
      <h3>Detalles de la vacante:</h3>
      <p>Descripción de la vacante, ya que no puede volver a ver dichos datos xdddddd
      </p>
    </div>
  </div>
</body>