<header></header>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
  rel="stylesheet">

<body style="padding-top: 50px;">
  <div id="content-wrap">
    <div class="centerer">
      <!-- a partir de aquí, cada bloque de texto dentro de un div estará centrado y dirigido hacia abajo -->

      <div class="my-tag">
        <h1 class="Lora">Universidad Católica</h1>
        <h3>Formamos profesionales con un alto espíritu, superación, innovación y educación</h3>
      </div>

      <div class="ucb-section">
        <div class="overlay"></div>
        <div class="text-left">
          <h1>Datos de la UCB</h1>
        </div>
        <div class="text-right">
          <h4>Escribir un texto motivador con H4</h4>
        </div>
      </div>


      <div class="he-tag">
        <div class="text_center">
          <h3>Datos de la UCB</h3>
        </div>
        <p class="bigText">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Maecenas quis turpis id augue mattis mollis at eu lorem.
          Donec augue tortor, lacinia sed lorem vitae, ultrices gravida orci.
          Phasellus nec nibh vulputate mi fringilla tempus. Fusce eget pulvinar sapien.
          Sed pulvinar diam non enim pulvinar, sed consectetur leo lobortis.
          Integer molestie malesuada nisl, sed mollis mauris feugiat quis.
          Mauris cursus pharetra auctor.
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
          Integer urna quam, interdum sit amet diam non, pharetra malesuada leo.
          Vestibulum et felis elementum risus feugiat porta sit amet id neque.
          Maecenas vehicula, velit sit amet molestie viverra, tortor nisl facilisis leo,
          in auctor eros turpis vitae lorem. Cras sed enim felis. Phasellus lacinia pharetra fringilla.
          Quisque iaculis aliquet enim, et sollicitudin nunc. Integer vitae venenatis nibh, vel luctus urna.
          Proin nunc mauris, vehicula vulputate dui nec, consequat vulputate orci.</p>

        <div class="latest-news">
          <h3>Últimas Noticias</h3>
          <div class="container">
            <!-- Card 1 (sin descripción adicional) -->
            <div class="card">
              <img class="card__icon" src="./image.jpg">
              <div class="card__content">
                <p class="card__description">Buscamos excelencia en nuestras
                  convocatorias para que nuestros estudiantes
                  aprendan de verdaderos profesionales
                  conoce acerca de nuestros docentes</p>
              </div>
            </div>

            <!-- Card 2 con cuadro de descripción separado -->
            <div class="card">
              <img class="card__icon" src="./image.jpg">
              <div class="card__content">
                <p class="card__description">Buscamos excelencia en nuestras
                  convocatorias para que nuestros estudiantes
                  aprendan de verdaderos profesionales
                  conoce acerca de nuestros docentes</p>
              </div>
            </div>

            <!-- Card 3 con cuadro de descripción separado -->
            <div class="card">
              <img class="card__icon" src="./image.jpg">
              <div class="card__content">
                <p class="card__description">Buscamos excelencia en nuestras
                  convocatorias para que nuestros estudiantes
                  aprendan de verdaderos profesionales
                  conoce acerca de nuestros docentes</p>
              </div>
            </div>

            <!-- Card 4 con cuadro de descripción separado -->
            <div class="card">
              <img class="card__icon" src="./image.jpg">
              <div class="card__content">
                <p class="card__description">Buscamos excelencia en nuestras
                  convocatorias para que nuestros estudiantes
                  aprendan de verdaderos profesionales
                  conoce acerca de nuestros docentes</p>
              </div>
            </div>

            <!-- Card 5 con cuadro de descripción separado -->
            <div class="card">
              <img class="card__icon" src="./image.jpg">
              <div class="card__content">
                <p class="card__description">Buscamos excelencia en nuestras
                  convocatorias para que nuestros estudiantes
                  aprendan de verdaderos profesionales
                  conoce acerca de nuestros docentes</p>
              </div>
            </div>

            <!-- Card 6 sin descripción adicional -->
            <div class="card">
              <img class="card__icon" src="./image.jpg">
              <div class="card__content">
                <p class="card__description">Buscamos excelencia en nuestras
                  convocatorias para que nuestros estudiantes
                  aprendan de verdaderos profesionales
                  conoce acerca de nuestros docentes</p>
              </div>
            </div>
          </div>
        </div>
        <div class="our-careers">
          <div class="rectangulo">
            <div class="over">
              <div class="rectangulo_carton">
                <h2 class="titulo-rectangulo">Nuestras Carreras</h2>
                <button class="boton-rectangulo">Conoce más...</button>
              </div>
            </div>
            <!-- Rectángulos pequeños en 3x2 a la derecha -->
            <div class="rectangulos-pequenos">
              <div class="rectangulo-pequeno">
                <p class="texto-pequeno">Arquitectura y Diseño</p>
              </div>
              <div class="rectangulo-pequeno">
                <p class="texto-pequeno">Filosofia y Letras</p>
              </div>
              <div class="rectangulo-pequeno">
                <p class="texto-pequeno">Ciencias de Salud</p>
              </div>
              <div class="rectangulo-pequeno">
                <p class="texto-pequeno">Ingenierias Tecnologicas</p>
              </div>
              <div class="rectangulo-pequeno">
                <p class="texto-pequeno">Ingenieria Mecánica</p>
              </div>
              <div class="rectangulo-pequeno">
                <p class="texto-pequeno">Ingenieria Química</p>
              </div>
            </div>
          </div>
        </div>

        <div class="community">
          <h3>Comunidad</h3>
          <div class="comunidad-cuadro">
            <div class="tarjeta">
              <img class="tarjeta__icon" src="./image.jpg">
            </div>

            <div class="tarjeta">
              <img class="tarjeta__icon" src="./image.jpg">
            </div>

            <div class="tarjeta">
              <img class="tarjeta__icon" src="./image.jpg">
            </div>
          </div>
        </div>

        <div class="faculty">
          <h3>Plantel Docente</h3>
          <div class="faculty-grid">
            <ul>
              <li>Antelo Liliana</li>
              <li>Cabrera Ovando Mirtha Patricia</li>
              <li>Hurtado Mendez Teresa</li>
              <li>Antelo Liliana</li>
              <li>Cabrera Ovando Mirtha Patricia</li>
              <li>Hurtado Mendez Teresa</li>
              <li>Justiniano Dominguez Maria Delia</li>
              <li>Padilla Vaca Maria Del Carmen</li>
              <li>Pelaez Mena Jessika Patricia</li>
              <li>Pinto Nicodemo Herland Henry</li>
              <li>Rojo Lopez Fanor</li>
              <li>Rosales Hinojosa Vany Noelia</li>
              <li>Santa Cruz Terrazas Mariana</li>
            </ul>
            <ul>
              <li>Camacho Moreno Margarita Marcia</li>
              <li>Cruz Peña Jaqueline</li>
              <li>Cuellar Algarañaz Geraldine</li>
              <li>Guardia Ruiz Juan Marcelo</li>
              <li>Linares Montaño Duglas Luis</li>
              <li>Marcos Menacho Maria Alejandra</li>
              <li>Mendez Campos Mayra Gisel</li>
              <li>Perez Cosio Valeria Ivonne</li>
              <li>Ponton Vargas Yenn</li>
              <li>Rocha Flores Rosalba Liliana</li>
              <li>Rodriguez Barrancos Ana Marcela</li>
              <li>Soriano Rivarola Andrea Viviana</li>
              <li>Suarez Noya Miguel Angel</li>
              <li>Torrez Viruez Melisa</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>