.centerer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    min-height: 500px;
}

.my-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    background-color: #f5f5f5;
    max-width: 1095px;
    margin-bottom: 100px;
    /* Espacio debajo de "Universidad Católica" */
}

h1 {
    font-size: 72px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

h3 {
    font-size: 32px;
    color: #757575;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}

.lora {
    font-family: 'Lora', 'serif';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Estilos para la sección de Datos de la UCB */
.ucb-section {
    position: relative;
    width: 100%;
    max-width: 64%;
    height: 400px;
    background-image: url('../../assets/images/banner_home.png');
    /* Cambia esto por la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Acomoda los elementos a los extremos */
    color: #2D5784;
    padding: 0 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    margin-bottom: 50px;

}

.ucb-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 20%;
    z-index: 1;
}

.ucb-section .text-left,
.ucb-section .text-right {
    position: relative;
    z-index: 2;
}

.ucb-section .text-left {
    align-self: flex-start;
    /* Alinea el texto a la parte superior */
    margin-top: 40px;
    /* Ajusta este valor para posicionarlo más arriba */
}

.ucb-section .text-right {
    align-self: flex-end;
    margin-bottom: 50px;
}

.ucb-section .text-left h1 {
    font-size: 2.5rem;
    color: #1E3A8A;
    margin: 0;
    text-align: left;
    border-bottom: 5px solid #FFD700;
    padding-bottom: 5px;
}

.ucb-section .text-right h4 {
    font-size: 1.5rem;
    color: #1E3A8A;
    margin: 0;
    text-align: right;
}

.text_center h3 {
    font-size: 2rem;
    color: #333;
    border-bottom: 2px solid #FFD700;
    display: inline-block;
    margin-bottom: 20px;
}

.he-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    background-color: #f5f5f5;
    max-width: 1095px;
    height: 3000px;
}

.bigText {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #555;
    padding-left: 5%;
    padding-right: 5%;

}

#content-wrap {
    padding-bottom: 322px;
    /* Footer height */
}

.latest-news {
    text-align: center;
    margin: 50px auto;
}

.latest-news h3 {
    font-size: 2rem;
    color: #333;
    border-bottom: 2px solid #FFD700;
    display: inline-block;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 50px;
    padding: 10px;
    justify-items: center;
    margin-bottom: 50px;
}

/* Estilado básico para todas las tarjetas */
.card {
    position: relative;
    width: 280px;
    height: 300px;
    background-color: #FFD700;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0 0 3px #aaa;
    margin: 1px;
}

/* Estilado del icono en las tarjetas */
.card__icon {
    width: 100%;
    height: 65%;
    object-fit: cover;
    background-position-x: center;
    background-position-y: 0px;
    /* Esto recortará la imagen si es necesario para ajustarse a la tarjeta */
}

/* Contenido de las tarjetas */
.card__content {
    padding: 10px;
    box-sizing: border-box;
}

.card__description {
    font-size: 14px;
    color: #333;
    /* Un color más oscuro para el texto */
    text-align: center;
}

.our-careers {
    text-align: center;
    margin: 50px auto;
}

.our-careers h3 {
    font-size: 2rem;
    color: #333;
    border-bottom: 2px solid #FFD700;
    display: inline-block;
    margin-bottom: 20px;
}

.rectangulo {
    position: relative;
    width: 1090px;
    height: 350px;
    background-image: url('../../assets/images/Carreras.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2D5784;
    padding: 0 20px;
    overflow: hidden;
}

.rectangulo .over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 1;
}

.rectangulo_carton {
    position: absolute;
    width: 360px;
    height: 160px;
    background-color: #f9f8f3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px #aaa;
    top: 50%;
    left: 10%;
    opacity: 0.82;
    z-index: 2;
    padding: 20px;
    transform: translateY(-50%);
}

.titulo-rectangulo {
    font-size: 2.3rem;
    color: #2D5784;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 100;
}

.boton-rectangulo {
    background-color: #ffffff;
    color: #2D5784;
    border: 2px solid #FFD700;
    border-radius: 20px;
    padding: 5px 100px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease;
    margin-top: 10px;
}

.boton-rectangulo:hover {
    background-color: #FFC107;
}

.rectangulos-pequenos {
    position: absolute;
    top: 50%;
    right: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    transform: translateY(-50%);
    z-index: 2;
}

.rectangulo-pequeno {
    background-color: #f9f8f3;
    border-radius: 6px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px #aaa;
    height: 28px;
    width: 240px;
    /* Ajusta el alto de los rectángulos */
}

.rectangulo-pequeno::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 28px;
    border-radius: 15px;
    background-color: #FFD700;
    z-index: 1;
}

.texto-pequeno {
    color: #2D5784;
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 0;
}

.community {
    text-align: center;
    margin: 50px auto;
}

.community h3 {
    font-size: 2rem;
    color: #333;
    border-bottom: 2px solid #FFD700;
    display: inline-block;
    margin-bottom: 20px;
}

.comunidad-cuadro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* Reduce el espacio entre las tarjetas */
    padding: 10px;
    justify-items: center;
    margin-bottom: 20px;
}


/* Estilado básico para todas las tarjetas */
.tarjeta {
    position: relative;
    width: 260px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 5px #aaa;

}

.tarjeta__icon {
    width: 100%;
    /* Ajusta al 100% del tamaño de la tarjeta */
    height: 100%;
    /* Ajusta la altura al 100% del tamaño de la tarjeta */
    object-fit: cover;
    /* Esto recorta la imagen si es necesario para cubrir el área sin deformarse */
}


.faculty {
    text-align: center;
    margin: 50px auto;
}

.faculty h3 {
    font-size: 2rem;
    color: #333;
    border-bottom: 2px solid #FFD700;
    display: inline-block;
    margin-bottom: 20px;
}

.faculty-grid {
    text-align: left;
    display: flex;
    gap: 50px;
    width: 500px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faculty-grid ul {
    list-style: none;
    padding: 0;
}

.faculty-grid li {
    font-size: 1rem;
    margin-bottom: 6px;
    color: #555;
    position: relative;
    padding-left: 20px;
}

.faculty-grid li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0;
    color: #FFD700;
    font-size: 2.2rem;
    line-height: 1;
}