<header></header>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
  rel="stylesheet">

<body style="padding-top: 50px;">
  <div class="centerer">
    <!-- a partir de aquí, cada bloque de texto dentro de un div estará centrado y dirigido hacia abajo -->

    <div class="my-tag">
      <h1 class="Lora">Universidad Católica</h1>
      <h3>Formamos profesionales con un alto espíritu, superación, innovación y educación</h3>
    </div>

    <div class="ucb-section">
      <div class="overlay"></div>
      <div class="text-left">
        <h1>Datos de la UCB</h1>
      </div>
      <div class="text-right">
        <h4>Escribir un texto motivador con H4</h4>
      </div>
    </div>

    <div>
      <!-- bloque de texto "acerca de" -->
    </div>


    <div class="he-tag">
      <div class="text_center">
        <h3>Datos de la UCB</h3>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Maecenas quis turpis id augue mattis mollis at eu lorem.
        Donec augue tortor, lacinia sed lorem vitae, ultrices gravida orci.
        Phasellus nec nibh vulputate mi fringilla tempus. Fusce eget pulvinar sapien.
        Sed pulvinar diam non enim pulvinar, sed consectetur leo lobortis.
        Integer molestie malesuada nisl, sed mollis mauris feugiat quis.
        Mauris cursus pharetra auctor.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        Integer urna quam, interdum sit amet diam non, pharetra malesuada leo.
        Vestibulum et felis elementum risus feugiat porta sit amet id neque.
        Maecenas vehicula, velit sit amet molestie viverra, tortor nisl facilisis leo,
        in auctor eros turpis vitae lorem. Cras sed enim felis. Phasellus lacinia pharetra fringilla.
        Quisque iaculis aliquet enim, et sollicitudin nunc. Integer vitae venenatis nibh, vel luctus urna.
        Proin nunc mauris, vehicula vulputate dui nec, consequat vulputate orci.</p>
      <div class="text_center">
        <h3>Últimas Noticias</h3>
      </div>
      <div>
        <!-- alv cómo hacemos esta wea?????? -->
      </div>

      <div>
        <!-- insertar las carreras aquí -->
      </div>


      <div class="text_center">
        <h3>Comunidad</h3>
      </div>
      <div>
        <!-- xd -->
      </div>

      <div class="text_center">
        <h3>Plantel Docente</h3>
      </div>
      <div>
        <!-- insertar plantel docente -->
      </div>
    </div>
  </div>
</body>