.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 1px;
}

label {
    width: 25%;
    margin: 0;
    text-align: right;
    font-weight: medium;
    font-size: 20px;
}

input {
    width: 55%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

textarea{

    width: 55%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    
}

p {
    text-align: center;
    margin-top: 10px;
}

.registerBackground {
    background-image: url("../../assets/images/image.jpg");
    background-size: cover;
}

select[multiple] {
    width: 55%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    height: 90px;
}

.error {
    color: red;
    font-size: 12px;
}
.centerer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    min-height: 500px;
}

.my-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    background-color: #f5f5f5;
    max-width: 1063px;
    margin-bottom: 50px;
    /* Espacio debajo de "Universidad Católica" */
}

h1 {
    font-size: 72px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

h3 {
    font-size: 32px;
    color: #757575;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}

.lora {
    font-family: 'Lora', 'serif';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text_center h3 {
    font-size: 1.5rem;
    /* Ajusta el tamaño del texto izquierdo */
    color: #1E3A8A;
    /* Color negro */
    margin: 0;
    text-align: left;
    border-bottom: 5px solid #FFD700;
    /* Línea amarilla debajo del texto */
    padding-bottom: 5px;
    /* Espacio entre el texto y la línea */
    margin-bottom: 30px;


}

.he-tag {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    align-self: center;
    align-content: center;
    text-align: left;
    background-color: #f5f5f5;
    width: 63%;
    padding-top: 1%;
    font-weight: 600;
}
.text-left{
    width: 63%;
    text-align: left;
}

.he-tag2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    background-color: #f5f5f5;
    width: 63%;
    padding-top: 3%;
}

.ButtonA {
    background-color: #2D5784;
    color: white;
    border-radius: 10px;
    border-color: #00000000;
    height: 35px;
    width: 200px;

}

.ButtonB {
    background-color: #AEB5BC;
    color: black;
    border-radius: 10px;
    border-color: #00000000;
    height: 35px;
    width: 200px;
}

span {
    max-width: 15%;
}

input:invalid {
    outline-color: red;
    border-color: red;
}

input:invalid + span::before {
    content: 'El campo no puede estar vacío';
    color: red;
}

input:valid + span::before {
    content: none;
}

input:invalid + .emailSpan::before {
    content: 'Usa un correo válido';
    color: red;
}

input:invalid + .passSpan::before {
    content: none;
    color: red;
}
