<head>
  <meta *ngIf="!role.isJefe()" http-equiv='refresh' content='0; /#/not-found'>
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
  rel="stylesheet">

<body style="padding-top: 50px;">
  <div class="centerer">
    <!-- a partir de aquí, cada bloque de texto dentro de un div estará centrado y dirigido hacia abajo -->

    <div class="he-tag2">
        <div class="my-tag">
            <h1 class="Lora">Vacantes</h1>
          </div>
    </div>

    <div class="he-tag">
      <p>Aquí se listan todas las vacantes de las carreras a las que usted pertenece</p>
    </div>
    <div style="margin: 10px;"></div>

    <div style="padding-bottom: 2%; padding-top: 1%;">
      <button class="ButtonB" [routerLink]="['/crear-vacante']">Crear nueva vacante</button>
    </div>

<!-- A partir de aquí, hacer un for loop o algo así para meter cada vacante activa -->

    <div class="vacante-border" *ngFor="let vacante of vacantes">
        <div class="vacante-margin" [routerLink]="['/postulaciones-recibidas', vacante.vacanteId]">
            <h5>{{ vacante?.nombreVacante }}: {{  vacante?.nombreMateria }}</h5>
            <p class="overflow"> {{  vacante?.descripcionVacante }}</p>
            <p>Nro. Postulantes: {{ vacante?.numeroPostulantes }}</p>
        </div>
    </div>
  </div>
  <div class="footer-spacing-tag"></div>
  <app-footer></app-footer>
</body>