<body>
  <nav class="footer">
    <div class="in-columns">
        <div class="row-img"></div>

        <div class="row">
            <p style="font-weight: bold; font-size: x-large;">Ubicacion campus</p>
            <div>
              <a href="https://maps.app.goo.gl/z7TnQfWfWwh4x7Fo8" target="_blank">Km. 9 carretera al Norte, Av. Milton Parra.</a>
            </div>
            <div>
              <p style="padding-top: 4%;">(+591) (3) 3000100, Extensión : 3001</p>
            </div>
            <div>
              <a href="emailto:info.scz@ucb.edu.bo" target="_blank">info.scz@ucb.edu.bo</a>
            </div>
        </div>

        <div class="row">
            <p style="font-weight: bold; font-size: x-large;">Ubicacion postgrado</p>
            <div>
              <a href="https://maps.app.goo.gl/pAx4EejgYh1VWbFY7" target="_blank">Centro Empresarial Equipetrol - Av. San Martin N° 1700</a>
            </div>
            <div>
              <p style="padding-top: 4%;">+591 72133976</p>
            </div>
            <div>
              <a href="emailto:postgrado.scz@ucb.edu.bo" target="_blank">postgrado.scz@ucb.edu.bo</a>
            </div>
        </div>

        <div class="row">
            <p style="font-weight: bold; font-size: x-large;">Contacto</p>
            <div>
              <a href="https://www.instagram.com/ucbsantacruz/#" target="_blank">Instagram</a>
            </div>
            <div>
              <a href="https://www.facebook.com/ucbscz" target="_blank">Facebook</a>
            </div>
            <div>
              <a href="https://www.linkedin.com/company/ucbscz/" target="_blank">LinkedIn</a>
            </div>
            <div>
              <a href="https://www.tiktok.com/@ucbscz" target="_blank">TikTok</a>
            </div>
        </div>
    </div>
  </nav>
</body>
