<body>
  <nav class="footer">
    <div class="in-columns">
        <div class="row-img"></div>
        <div class="row">
            <p style="font-weight: bold;">Ubicacion campus</p>
            <p>Km. 9 carretera al Norte, Av. Milton Parra.</p>
            <p>(+591) (3) 3000100, Extensión : 3001</p>
            <p>info.scz@ucb.edu.bo</p>
        </div>
        <div class="row">
            <p style="font-weight: bold;">Ubicacion postgrado</p>
            <p>Centro Empresarial Equipetrol - Av. San Martin N° 1700</p>
            <p>+591 72133976</p>
            <p>postgrado.scz@ucb.edu.bo</p>
        </div>
        <div class="row">
            <p style="font-weight: bold;">Contacto</p>
            <a>Instagram</a>
            <a>Facebook</a>
            <a>LinkedIn</a>
        </div>
    </div>
  </nav>
</body>
