.footer{
background-color: #00427A;
color:white;
height: 322px;
}
.in-columns{
    display:flex;
    flex-direction: row;
    text-align: center;
}

.row{
    width:26%;
    padding-left:10%;
    padding-right: 10%;
    padding-top: 4%;
}