.footer{
    background-color: #00427A;
    color:white;
    height: min-content;
    bottom: 0;
}

.in-columns{
    display:flex;
    flex-direction: row;
    text-align: center;
    align-content: space-between;
}

.row{
    max-width: 35%;
    padding-left:10%;
    padding-right: 10%;
    padding-top: 4%;
}

.row-img {
    background-image: url('../../assets/images/logo_lowres.png');
    background-size:cover;
    padding-top: 35px;
    width: 60%;
    height: 300px;
    background-position-y: 5px;
}